// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #222;
$font-size: 1rem;
$line-height: 1.5;
$font-family: "mr-eaves-xl-modern", sans-serif;


//media queries

//480 and lower

